.gradle/
build/
app/build/
rust-core/target/
*.iml
local.properties
signing.properties
.DS_Store
app/src/main/jniLibs/
app/src/main/assets/lex.bin
app/src/main/assets/gram.bin
app/src/main/assets/sentbank.bin
